body {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

h1,
h2,
h3 {
    line-height: 1.2
}

#profile{
    height: 200px;
    border-radius: 50%;
}

.project{
    height:500px;
    width: 800px;
    border-radius: 8px;
}